.nblinks {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .container {
        @media screen and (min-width: 1201px) and (max-width: 1560px) {
            max-width: 100%!important;
        }

        @media screen and (min-width: 1561px) {
            max-width: 1440px!important;
        }
    }

    a {
        display: block;
        height: 270px;
        background: url('img/home/nblink1--bg.jpg');
        background-size: cover;
        margin: 0 0 17px 0;
        padding: 0;

        &:hover {
            cursor: pointer;

            div {
                background: $quaternary;
                -webkit-transition: background-color ease-in .2s;
                -ms-transition: background-color ease-in .2s;
                transition: background-color ease-in .2s;

                p {
                    color: $secondary;
                    -webkit-transition: ease-in .2s;
                    -ms-transition: ease-in .2s;
                    transition: ease-in .2s;
                }
            }
        }

        &:first-of-type {
            p {
                left: 10px;

                @media screen and (max-width: 767px) {
                    left: -10px;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    left: -5px;
                }

                @media screen and (min-width: 992px) and (max-width: 1559px) {
                    left: 1px;
                }

                @media screen and (min-width: 1560px) {
                    left: 13px;
                }
            }
        }

        &:nth-of-type(2) {
            background: url('img/home/nblink2--bg.jpg');
            background-size: cover;

            &:hover {
                div {
                    background: #fff;
    
                    p {
                        color: $quaternary;
                    }
                }
            }

            div {
                border: 1px solid #fff;

                p {
                    color: #fff;
                    left: -47px;

                    @media screen and (max-width: 767px) {
                        left: -85px;
                    }

                    @media screen and (min-width: 768px) and (max-width: 991px) {
                        left: -100px;
                    }

                    @media screen and (min-width: 992px) and (max-width: 1559px) {
                        left: -62px;
                    }

                    @media screen and (min-width: 1560px) {
                        left: -73px;
                    }
                }
            }
        }

        &:nth-of-type(3) {
            background: url('img/home/nblink3--bg.jpg');
            background-size: cover;
            margin: 0;

            @media screen and (min-width: 992px) {
                margin-right: 0;
            }

            p {
                left: -20px;

                @media screen and (max-width: 767px) {
                    left: -48px;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    left: -45px;
                }

                @media screen and (min-width: 992px) and (max-width: 1559px) {
                    left: -27px;
                }

                @media screen and (min-width: 1560px) {
                    left: -29px;
                }
            }
        }

        @media screen and (min-width: 541px) and (max-width: 991px) {
            height: 350px;
        }

        @media screen and (min-width: 992px) {
            height: 335px;
        }

        @media screen and (min-width: 1601px) {
            margin-right: 16px;
        }

        div {
            border: 1px solid $quaternary;
            color: $quaternary;
            width: 176px;
            height: 69px;

            @media screen and (min-width: 768px) and (max-width: 991px) {
                width: 260px;
                height: 89px;
            }

            @media screen and (min-width: 1560px) {
                width: 260px;
                height: 89px;
            }
            
            p {
                bottom: 0;
                top: 11.5px;
                color: $quaternary;
                font-family: $barlow;
                font-size: 1.7rem;
                font-weight: 500;
                letter-spacing: 0.7px;
                margin: 0;
                white-space: nowrap;

                @media screen and (min-width: 414px) and (max-width: 767px) {
                    font-size: 2.2rem;
                    top: 7px;
                }

                @media screen and (min-width: 768px) and (max-width: 991px) {
                    font-size: 3rem;
                    top: 7px;
                }

                @media screen and (min-width: 992px) and (max-width: 1559px) {
                    font-size: 1.9rem;
                    top: 11.4px;
                }

                @media screen and (min-width: 1560px) {
                    font-size: 2.6rem;
                }
            }
        }
    }
}