$primary: #6f7060;
$secondary: #ffbd69;
$tertiary: #fdffda;
$quaternary: #6F705e;
$roboto: 'Roboto', "HelveticaNeue", sans-serif;
$robotolight: 'RobotoLight', "HelveticaNeue", sans-serif;
$barlow: 'Barlow',"HelveticaNeue", sans-serif;
$barlowsemi: 'BarlowSemiBold',"HelveticaNeue", sans-serif;
$sourcesanssemi: 'SourceSansPro',"HelveticaNeue", sans-serif;

